<div class="row">
    <h2 class="col-md-3">Hero Detail</h2>
    <div class="col-xs-offset-8 col-md-1">
        <button class="btn btn-default" (click)="doClear()">Clear</button>
    </div>
</div>
<form [formGroup]="heroForm" novalidate>
    <div class="form-group">
        <label class="center-block">Name:
        <input #spy 
               class="form-control" 
               formControlName="name"
               [ngStyle]="{'background-color' : spy.value === 'bob' ? 'green' : 'white' } "
        >
        </label>
    </div>

    <div class="form-group">
        <button (click)="addLair()" type="button" class="btn">Add a Secret Lair</button>
    </div>

    <div formArrayName="secretLairs" class="well well-lg">
        <div *ngFor="let address of secretLairs.controls; let i=index" [formGroupName]="i">
            <!-- The repeated address template -->
            <h4>Address #{{i + 1}}</h4>
            <div style="margin-left: 1em;">
                <div class="form-group">
                    <label class="center-block">Street:
          <input class="form-control" formControlName="street">
        </label>
                </div>
                <div class="form-group">
                    <label class="center-block">City:
          <input class="form-control" formControlName="city">
        </label>
                </div>
                <div class="form-group">
                    <label class="center-block">State:
          <select class="form-control" formControlName="state">
            <option *ngFor="let state of states" [value]="state">{{state}}</option>
          </select>
        </label>
                </div>
                <div class="form-group">
                    <label class="center-block">Zip Code:
          <input class="form-control" formControlName="zip">
        </label>
                </div>
            </div>
            <br>
            <!-- End of the repeated address template -->
        </div>
    </div>

    <div class="form-group radio">
        <h4>Super power:</h4>
        <label class="center-block"><input type="radio" formControlName="power" value="flight">Flight</label>
        <label class="center-block"><input type="radio" formControlName="power" value="x-ray vision">X-ray vision</label>
        <label class="center-block"><input type="radio" formControlName="power" value="strength">Strength</label>
    </div>
    <div class="checkbox">
        <label class="center-block">
      <input type="checkbox" formControlName="sidekick">I have a sidekick.
    </label>
        <div>
            {{heroForm.value | json}}
        </div>
    </div>

</form>